name: pyright

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y libsuitesparse-dev
      - name: Run pyright
        run: uv run --python 3.12 --extra dev pyright .
