name: pytest

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y libsuitesparse-dev
      - name: Test with pytest
        run: uv run --python ${{ matrix.python-version }} --extra dev --extra cholmod pytest
